@import '../../../mainstyle.css';
*{
    margin: 0;
    padding: 0;
    
}

li, a{
    list-style: none;
    text-decoration: none;
    text-transform: none;
    color: var(--main-color-dark);
    font-family: var(--font-family-font);
    font-size: 14px;
    line-height: 14px;
}

header{
    width: 100%;
    height: auto;
}

p{
    font-size: 12px;
    color: #878787;
    line-height: 21px;
    font-weight: 400;
    font-family: var(--font-family-font);
}

.header_head{
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    border:4px solid blue;
}

/* top navigation bar start */

.nav__top{
    width: 100%;
    height: 3rem;
    background-color: #aaa7a7;
    z-index: 2;
}
.nav_row{
    width: 100%;
    height: inherit;
}
.nav_inside_row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;   
}

/* left side top start */
.left__contact{
    width: 100%;
    flex: 23%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    /* border: 2px solid red; */
}
.left__contact .top_bar_icon{
    display: inline-block;
}
.top_bar_contact_item {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    margin-right: 10px;
    font-family: var(--main-heading-h1);
}
.top_bar_icon{
    margin-right: 3px;
}
.top_bar_contact_item a {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.top_bar_contact_item a:hover {
    color: #56cfe1 ;
}
/* left side top end */

/* center side start */
.center__offers{
    flex: 50%;
    width: 100%;
    height: auto;   
    /* border: 2px solid red; */
}
.text__offer{
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    margin-right: 10px;
    font-family: var(--main-heading-h1);
}
.text__offer span{
    color: #ec0101;
}
.text__offer a{
    text-decoration: none;
    color: #000;
}
.text__offer a:hover{
    color: #56cfe1;
}
/* center side end */

/* right side start */
.right__language{
    flex: 23%;
    /* border: 2px solid red; */
    width: 100%;
}
.language_text{
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    margin-right: 10px;
    font-family: var(--main-heading-h1);
}

/* right side end */

/* top navigation bar end */


/* main menu  navigation bar start */
.nav_bar_second{
    width: 100%;
    height: 4.5rem;
    background-color: #fafafa;
    /* border: 2px solid red; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu_navigationBar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 2px solid blue; */
}
 
/* main menu  navigation Logo bar start */
.navigationBar__Logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    /* border: 2px solid green; */
}
.handburgermanu__Bar{
    margin-left: 20px;
    visibility: hidden;
    display: none;
}
.logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    /* border: 2px solid red;  */
}
.menu_logo_text{
   text-decoration: none!important;
   list-style: none;
   text-transform: capitalize;
   font-size: 18px; 
   line-height: 18px;
   font-weight: 400;
   color: #222222;
   font-style: normal;
   font-family: var(--font-family-font);
}

/* main menu  navigation Logo bar end */

/* main menu  navigation menu bar start */
.navigationBar__menu{
    width: 55%;
    height: 100%;
    /* border: 2px solid yellow; */
}
.menu__link{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
    /* border: 2px solid red; */
}

.navLink{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    padding: 5px;
    /* border: 2px solid black; */
}

 .menuList{
     padding: 10px 10px;
     display: inline-block;
     vertical-align: baseline;
    /* border: 2px solid green; */
}
.menuList .menu__text{
   text-decoration: none;
   list-style: none;
   font-size: 14px;
   font-style: normal;
   text-transform: capitalize;
   line-height: 14px;
   font-weight: var(--main-font-weight-400);
   font-family: var(--font-family-font);
}
/* main menu  navigation menu bar end */

/* main menu  navigation icons bar start */
.navigationBar__icon{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center; 
    /* border: 2px solid blue; */
}
.icon_links
{
    width: 100%;
    height: auto;
    text-decoration: none;
}
.icon_list{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 5px;
    /* border: 2px solid red; */
}
.icon_List_icons{
     margin-right: .8rem;
     margin-left: .8rem;
    display: inline-block;
    /* border: 2px solid blanchedalmond; */
}
.icon_List_icons:first-child{
    margin-left: 20%;
  }
/* main menu  navigation icons bar end */
















/* main menu  navigation bar end */


/* menu icon personal class  end*/

/* menu icon personal class  end*/


/* meadia  queri start */
/* meadia  queri for tablet start */
@media screen and (max-width: 1024px) {
    :root{
        --h1-font-size: 2.25rem;
        --normal-font-size:1rem;
    }
    .nav__top{
        width: 100%;
        height: 5rem;
        /* border: 2px solid red; */
        background-color: #f6f6f8;
        z-index: 2;
    }
    .nav_row{
        width: 100%;
        height: inherit;

    }
    .nav_inside_row{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;   
    }
    .left__contact{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .navigationBar__menu{
        visibility: hidden;
        display: none;
        /* border: 2px solid black; */
    }
    .navigationBar__Logo{
        width: 70%;
        /* border: 2px solid red; */
    }
    .navigationBar__icon{
        width: 30%;
        /* border: 2px solid green; */
    }
    .manu__bar{
        width: 40%;
        margin-left: 30%;
        /* border: 2px solid red; */
    }
    .handburgermanu__Bar{
        visibility: visible;
    }
}

/* meadia  queri for tablet end */

/* meadia  queri for mobile start */
@media screen and (max-width: 780px) {
    .nav__top{
        width: 100%;
        height: 5rem;
        background-color: #f6f6f8;
        z-index: 2;
    }
    .nav_row{
        width: 100%;
        height: inherit;
    }
    .nav_inside_row{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;   
    }
    .left__contact{
        width: 100%;
        height: 50%;
        display: inline-block;
        justify-content: center;
        padding-bottom: 10px;
        /* border: 2px solid red; */
    }
    .center__offers{
        width: 100%;
        height: 50%;
        /* border: 2px solid red; */
    }
    .right__language{
        display: none;
    }
    .navigationBar__menu{
        visibility: hidden;
        display: none;
        /* border: 2px solid black; */
    }
    .navigationBar__Logo{
        width: 70%;
        /* border: 2px solid red; */
    }
    .navigationBar__icon{
        width: 30%;
        padding-right: 15px;
        /* border: 2px solid green; */
    }
    .manu__bar{
        width: 40%;
        margin-left: 30%;
        /* border: 2px solid red; */
    }
    .handburgermanu__Bar{
        visibility: visible;
    }
}

@media screen and (max-width: 574px) {
.navigationBar__menu{
    border: 2px solid red!important;
}
}
/* meadia  queri for mobile end */
